/.vs
/.vscode
/build*
CMakeSettings.json
docs/aidocs/*
docs/gamedocs/*
docs/source/*
/out
/vcpkg_installed
*.tmp
/cmake/OhosSDL.cmake
harmony/build/
harmony/build-ohos-run*.log
harmony/app/entry/libs/
harmony/app/entry/src/main/resources/rawfile/
